<%- include('./__partial__files/header.ejs') %>

    <%- include('./__partial__files/nav.ejs') %>

        <div class="container">
           
            <div class="row">
                <div class="col s12">
                    <h1 style="color: red">
                        404 Oops
                    </h1>
                    <typography class="flow-text">
                        We can't find the page you're looking for.<br /><br/>Please, use the navigation bar to find your way around.
                    </typography>
                </div>
            </div>

        </div>


        <%- include('./__partial__files/footer.ejs') %>