<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="author" content="Anderson Omoragbon">
    <meta name="robots" content="robots/follow">
    <meta name="tags" content="candlestick signals, forex signals, free stock signals, bullish engulfing, bearish engulfing, hammer signals, stock market, stock">
    <script src="https://kit.fontawesome.com/c6f7ad4672.js" crossorigin="anonymous"></script>
    <meta name="description"
        content="<%- companyName %> is a group of traders that provide free platform to anyone trying to learn how to trade candlestick chart and candlestick signals. We post forex chart but not limited to forex chart only. Members of the group has the oppotunity to post any market chart of their choice and we will analyze it for learning purposes. ">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>AndoTrade | <%- title %>  </title>

    <link rel="stylesheet" href="style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">
</head>

<body>