<!-- MAIN NAV BAR -->

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue darken-1">
            <a href="/" class="brand-logo" style="padding-left: 20px;"><%= companyName %> </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down" style="padding-right: 20px;">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
</div>

<!-- RESPONSIVE NAV BAR -->
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/login">Login</a></li>
</ul>

<!-- JQUERY FUNC FILE INCLUDED -->
<%- include('./jquery__func.ejs') %> 